annotated-types
asttokens
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
gitdb
GitPython
gymnasium[classic_control]
idna
imbalanced-learn
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
metric-learn
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-learn
scipy
sentry-sdk
six
sklearn-compat
smmap
stack-data
sympy
threadpoolctl
torch
torchvision
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
ucimlrepo
urllib3
wandb
wcwidth
